window {
  background-color: #fff;
}

/* Custom error modal classes */
.error-modal {
  background-color: #fff;
  padding: 50px;
}

.error-modal-message-container {
  padding: 25px 10px 0px 10px;
}

.error-modal-label {
  margin-top: 50px;
}

.error-modal-message {
  color: #000;
  font-weight: 600;
  font-size: 20px;
  margin: 0 50px 50px 50px;
}

.error-modal-btn-container {
  padding: 20px;
}

.error-modal-btn {
  color: #f37e7e;
  border-radius: 0px;
  margin: 0 25px;
  font-weight: 600;
}

.set-up-notebook {
}

.set-up-page {
  padding: 25px;
}

.set-up-title {
  font-size: 2em;
  padding: 25px 0;
}

.set-up-btn-container {
}
