window {
  background-color: #fff;
}

/* Custom error modal classes */
.error-modal {
  background-color: #fff;
  padding: 50px;
}

.error-modal-message-container {
  padding: 0 10px;
}

.error-modal-message {
  color: #000;
  font-weight: 600;
  font-size: 20px;
  margin: 0 50px 50px 50px;
}

.error-modal-btn-container {
  padding: 20px;
}

.error-modal-btn {
  color: #f37e7e;
  border-radius: 0px;
  margin: 0 25px;
  font-weight: 600;
}

/* Custom setup widget classes */
.set-up-notebook {
  padding: 50px;
}

.set-up-tab-title {
  font-weight: 600;
}

.set-up-page {
  background-color: #eee;
  border-radius: 10px 10px 0 0;
  color: #000;
  padding: 25px;
}

.set-up-title {
  font-size: 20px;
  font-weight: 600;
}

.set-up-content-container {
}

.set-up-desc-container {
  padding: 10px;
  background-color: #fff;
}
