window {
  font-family: "Mandali", monospace, sans-serif;
}

/* Custom error modal classes */
.error-modal {
  padding: 50px;
}

.error-modal-message-container {
  padding: 25px 10px 0px 10px;
}

.error-modal-label {
  margin-top: 50px;
}

.error-modal-message {
  color: #000;
  font-weight: 600;
  font-size: 20px;
  margin: 0 50px 50px 50px;
}

.error-modal-btn-container {
  padding: 20px;
}

.error-modal-btn {
  color: #f37e7e;
  border-radius: 0px;
  margin: 0 25px;
  font-weight: 600;
}

.set-up-notebook {
  background-color: #fff;
}

.set-up-tab-title {
  margin: 5px 0;
}

.set-up-page {
  padding: 25px;
}

.set-up-desc-container {
  padding-right: 25px;
}

.set-up-title {
  font-size: 2em;
  padding: 25px 0;
  margin-left: 200px;
}

.set-up-btn-container {
  padding-top: 50px;
}

.selected {
  outline: 2px solid #7ef384;
  box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
  transform: scale(1.01);
}

.default-session-lesson-container {
  border-radius: 15px;
  transition: 250ms ease-in-out;
  padding: 20px;
  box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.1);
}

.default-session-lesson-container:hover {
  transform: scale(1.01);
  box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
}

.default-session-free-draw-container:hover {
  transform: scale(1.01);
  box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
}

.default-session-free-draw-container {
  border-radius: 15px;
  transition: 250ms ease-in-out;
  padding: 20px;
  box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.1);
}

.default-session-heading {
  font-size: 20px;
  margin: 20px 0 10px 0;
  font-weight: 600;
}
/* .img-container {
  background-color: #f00;
} */

/* Canvas Default page in setup window */

.canvas-default-size-input-container {
  padding: 25px;
}

.canvas-default-grid {
  padding: 25px 10px;
}

.canvas-default-select-btn {
  transition: 250ms ease-in-out;
  border-radius: 15px;
  box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.1);
}

.canvas-default-select-btn:hover {
  transform: scale(1.01);
  box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
}

.canvas-default-size-input-container {
}

.canvas-default-input-container-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 25px;
}

.canvas-default-input {
  margin: 10px 0 0 15px;
}

/*  Default tools styling under setup */

.default-tools-grid {
  padding: 25px;
}

.default-tools-grid-child {
  padding: 25px;
  background-color: #333;
  border-radius: 15px;
  transition: 250ms ease-in-out;
}

.default-tools-grid-child:hover {
  background-color: #444;
}

.default-tools-cat-title {
  font-size: 18px;
  font-weight: 600;
}

.default-tools-tool {
  padding: 5px;
  border-radius: 5px;
  box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.1);
  background-color: #444;
  transition: 250ms ease-in-out;
}

.default-tools-tool:hover {
  background-color: #555;
  transform: scale(1.05);
}

.default-tools-tool-name {
  font-weight: 600;
  margin-left: 15px;
}

/* Tool tip styles */

.tooltip {
  padding: 25px;
  background-color: #444;
}

.tooltip-desc-container {
  margin-left: 30px;
}

.tooltip-name {
  font-size: 18px;
  font-weight: 600;
}

.tooltip-property {
  padding: 5px;
  background: #222;
  border-radius: 5px;
  box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.1);
}

.tooltip-prop-title {
  color: #f37e7e;
  font-weight: 600;
}

.tooltip-img {
  border-radius: 25px;
}
