window {
  font-family: "Mandali", monospace, sans-serif;
}

/* Custom error modal classes */
.error-modal {
  padding: 50px;
}

.error-modal-message-container {
  padding: 25px 10px 0px 10px;
}

.error-modal-label {
  margin-top: 50px;
}

.error-modal-message {
  color: #000;
  font-weight: 600;
  font-size: 20px;
  margin: 0 50px 50px 50px;
}

.error-modal-btn-container {
  padding: 20px;
}

.error-modal-btn {
  color: #f37e7e;
  border-radius: 0px;
  margin: 0 25px;
  font-weight: 600;
}

.set-up-notebook {
  background-color: #fff;
}

.set-up-tab-title {
  margin: 5px 0;
}

.set-up-page {
  padding: 25px;
}

.set-up-desc-container {
  padding-right: 25px;
}

.set-up-title {
  font-size: 2em;
  padding: 25px 0;
  margin-left: 200px;
}

.set-up-btn-container {
  padding-top: 50px;
}

.selected {
  outline: 2px solid #7ef384;
  box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
  transform: scale(1.01);
}

.default-session-lesson-container {
  border-radius: 15px;
  transition: 250ms ease-in-out;
  padding: 20px;
  box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.1);
}

.default-session-lesson-container:hover {
  transform: scale(1.01);
  box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
}

.default-session-free-draw-container:hover {
  transform: scale(1.01);
  box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
}

.default-session-free-draw-container {
  border-radius: 15px;
  transition: 250ms ease-in-out;
  padding: 20px;
  box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.1);
}

.default-session-heading {
  font-size: 20px;
  margin: 20px 0 10px 0;
  font-weight: 600;
}
/* .img-container {
  background-color: #f00;
} */

/* Canvas Default page in setup window */

.canvas-default-grid {
  padding: 25px 10px;
}

.canvas-default-select-btn {
  transition: 250ms ease-in-out;
  border-radius: 15px;
  box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.1);
}

.canvas-default-select-btn:hover {
  transform: scale(1.01);
  box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
}
