window {
  background-color: #ffffff;
}

/* ErrorModal classes */

.error-modal {
  background-color: #fff;
}

.error-modal-label {
  margin-bottom: 10px;
}

.error-modal-btn-holder {
  margin: 10px 0;
}

.error-modal-btn {
  border-radius: 0;
  background-color: #eee;
  padding: 5px 10px;
}
