window {
  background-color: #ffffff;
}

/* ErrorModal classes */

.error-modal {
  background-color: #ffffff;
}

.error-modal-label {
  margin: 25px 100px;
  font-weight: 600;
  font-size: large;
  color: #000;
}

.error-modal-btn-holder {
  margin: 25px 50px;
}

.error-modal-btn {
  border-radius: 0;
  background-color: #ffffff;
  color: rgb(255, 0, 85);
  font-weight: 800;
  padding: 10px 0;
}
