window {
  background-color: #111;
}

.custom-menu-bar {
  background-color: #222;
  padding: 5px;
}

.menu-item {
  background-color: #999;
  font-size: 15px;
}

.menu-item-small {
  min-width: 300px;
}

/* Tool bar classes */

.tool-bar {
  padding: 10px;
  background-color: #222;
}

/* sidebar classes */

.side-bar {
  background-color: #222;
}

/* canvas classes */

.canvas {
  background-color: #fff;
}
